{% extends 'school-log/base.html' %}
{% block school_log_body %}

    <h1>School Log</h1>

    <p>This application is designed to help you log schooling hours for
        students. In the Students section, manage your students. Note that
        deleting a student will delete all entries associated to it. In the
        Subjects section, you can add or remove subjects. Manage your entries
        in the Entries section, where you can also query a subset of your
        entries for export to HTML, CSV, or PDF.</p>
    <p>For any comments, feedback, or questions, submit a
        <a href="/help-ticket">Help Ticket</a> or create an issue at the
        <a href="https://github.com/jfmario/dj-school-log">GitHub repository.</a>
    </p>
{% endblock %}
