{% extends 'site_bs4_base.html' %}
{% block body %}

    <nav class="bg-inverse navbar navbar-dark navar-fixed-top">

        <a class="navbar-brand" href="/school-log/">School Log</a>

        <ul class="nav navbar-nav">

            {% if active_page and active_page == 'students' %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
            <a class="nav-link" href="/school-log/students/">Students</a>
            </li>

            {% if active_page and active_page == 'subjects' %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
            <a class="nav-link" href="/school-log/subjects/">Subjects</a>
            </li>
        </ul>

        {% if user.is_authenticated %}
            <form class="form-inline pull-xs-right">

                <label class="text-info">Logged in as <b><a href="/accounts/profile/">{{ user.username }}</a></b></label>

                &nbsp;&nbsp;&nbsp;&nbsp;

                <a class="btn btn-outline-warning" href="/accounts/logout/">Log Out</a>
            </form>
        {% endif %}
    </nav>

    <br />

    <div class="container">
        {% block school_log_body %}{% endblock %}
    </div>
{% endblock %}
