{% extends 'school-log/base.html' %}
{% block school_log_body %}

    <h1>New Entry</h1>

    <form method="post">

        {% csrf_token %}

        {% for field in form %}

            {{ field.errors }}

            <div class="form-group row">
                <div class="col-sm-2">{{ field.label_tag }}</div>
                <div class="col-sm-10">{{ field }}</div>
            </div>
        {% endfor %}

        <div class="form-group row">
            <div class="col-sm-2">Students:</div>
            <div class="col-sm-10">
                <select class="form-control" multiple="multiple" name="students">
                    {% for student in students %}
                        <option value="{{ student.id }}">{{ student.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">

                <input class="btn btn-success" type="submit" value="Create" />

                <a class="btn btn-secondary" href="/school-log/entries">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
