{% extends 'school-log/base.html' %}
{% block school_log_body %}

    <h1>Edit Student</h1>

    <form method="post">

        {% csrf_token %}

        {% for field in form %}

            {{ field.errors }}

            <div class="form-group row">
                <div class="col-sm-2">{{ field.label_tag }}</div>
                <div class="col-sm-10">{{ field }}</div>
            </div>
        {% endfor %}

        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">

                <input class="btn btn-info" type="submit" value="Edit" />

                <a class="btn btn-secondary" href="/school-log/students">Cancel</a>
                <a class="btn btn-warning" href="/school-log/delete-student/{{ student.id }}">Delete {{ student.name }}</a>
            </div>
        </div>
    </form>
{% endblock %}
